<div class="container">

  <div class="row">

    <div class="col-sm-4 offset-sm-4">
      <div id="img-div">
      <img src="assets/img/burger.jpg" alt="burger image">
      <h2>Eat Da Burger!</h2>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div id="div-not-devoured"></div>
    </div> 
    <div class="col-sm-6">
      <div id="div-devoured"></div>
    </div>     

  </div>  


  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div id="div-form">
        <form class="add-burger-form">
          <input type="text" name="new-burger" id="burger-text">
          <button type="submit">Add Burger</button>
        </form>
      </div>
      <p>Enter a burger you would like to eat and hit submit button</p>
    </div>
  </div>  

</div>  
